{% extends "base/main.html" %}

{% block content %}

<div class="flex justify-center items-center">
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
    <form class="card-body" action="" method="POST" >
        {% comment %} prevents cross site forgery submissions, malicious activity {% endcomment %}
        {% csrf_token %}
       <h1>Are you sure you want to delete this job listing?</h1>
        <div class="form-control mt-6">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
    </div>
    
{% endblock content %}