{% extends "base/main.html" %}

{% block content %}
{% if request.user.is_authenticated %}
<h2 class="ml-8">Hi {{request.user.first_name}}!</h2>
{% endif %}
<div class="mx-10 my-10">
    <div>
        {% for job in jobs  %}
        
        <div class="mt-8 border-gray-100 border-8 p-8 shadow-xl">
           <a href="{% url 'job' job.id %}" class="text-xl text-purple-800 hover:underline">{{job.title}}</a>
            <h3 class="text-md">{{job.company}} - {{job.location}}</h3>
            {% comment %} only show up to 400 characters of description and add period of ellipsis if length of description exceeds that {% endcomment %}
            <p class="text-xs mt-2">
                {{job.description|slice:":400"}}
                {% if job.description|length > 400 %}
                ...
                {% endif %}
            </p>
        </div>
        
        {% endfor %}
    </div>
</div>
{% endblock content %}