{% extends "base/main.html" %}

{% block content %}
<h1>Welcome to JobQuest! Find your next job here!</h1>
{% if request.user.is_authenticated %}
<h2>Hi {{request.user.first_name}}!</h2>
{% endif %}
<div>
    <div>
        {% for job in jobs  %}
        
        <div>
           <a href="{% url 'job' job.id %}">{{job.title}}</a>
            <h3 class="text-lg">{{job.company}} - {{job.location}}</h3>
            <p class="text-sm">{{job.description}}</p>
        </div>
        
        {% endfor %}
    </div>
</div>
{% endblock content %}