{% extends "base/main.html" %}

{% block content %}

<a href="{% url 'update-job' job.id %}" class="btn btn-primary">Update Listing</a>
<a href="{% url 'delete-job' job.id %}" class="btn btn-primary">Delete Listing</a>

{% comment %} <button class="btn" onclick="my_modal_1.showModal()">Delete Listing</button>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Are you sure? </p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn"><a href="url">Delete</a></button>
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog> {% endcomment %}

<div>
    <h1>{{job.title}}</h1>
    <h3 class="text-lg">{{job.company}} - {{job.location}}</h3>
    <p class="text-sm">{{job.description}}</p>
    <h4 class="text-md">Deadline to Apply: {{job.deadline}} </h4>
    <a href="">Apply</a>
</div>

{% endblock content %}