{% extends "base/main.html" %}

{% block content %}
{% if form.instance.pk %}
<h1 class="text-3xl font-bold text-center">Update Job Listing</h1>
{% else %}
<h1 class="text-3xl font-bold text-center">Create Job Listing</h1>
{% endif %}
<div class="flex justify-center mt-8">
<div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
<form class="card-body" action="" method="POST" >
    {% comment %} prevents cross site forgery submissions, malicious activity {% endcomment %}
    {% csrf_token %}
    <div class="form-control">
      <label class="label">
        <span class="label-text">Title</span>
      </label>
      {{form.title}}
      {% comment %} <input type="text" placeholder="job title" class="input input-bordered" required /> {% endcomment %}
    </div>
    
    <div class="form-control">
      <label class="label">
        <span class="label-text">Company</span>
      </label>
      {{form.company}}
      {% comment %} <input type="text" placeholder="company name" class="input input-bordered" required /> {% endcomment %}
    </div>
    
    <div class="form-control">
      <label class="label">
        <span class="label-text">Description</span>
      </label>
      {{form.description}}
      {% comment %} <input type="text" placeholder="job description" class="input input-bordered" required /> {% endcomment %}
    </div>
    
    <div class="form-control">
        <label class="label">
            <span class="label-text">Location</span>
        </label>
        {{form.location}}
        {% comment %} <input type="text" placeholder="job location" class="input input-bordered" required /> {% endcomment %}
    </div>
    
    <div class="form-control">
        <label class="label">
            <span class="label-text">Deadline</span>
        </label>
        {{form.deadline}}
        {% comment %} <input type="text" placeholder="job title" class="input input-bordered" required /> {% endcomment %}
    </div>

    {% comment %} <div class="form-control">
      <label class="label">
        <span class="label-text">Password</span>
      </label>
      <input type="password" placeholder="password" class="input input-bordered" required />
      <label class="label">
        <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
      </label>
    </div> {% endcomment %}

    <div class="flex justify-center mt-6">
      <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Cancel</a>
          <button class="btn btn-primary ml-6" type="submit">Submit</button>
    </div>
  </form>
</div>
</div>
  {% endblock content %}