<div class="navbar bg-base-100">
    <div class="flex-1">
      <a href="{% url "home" %}" class="btn btn-ghost text-xl">JobQuest</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="{% url "create-job" %}" >Create Listing</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url "logout" %}">Logout</a></li>
        {% else %}
        <li><a href="{% url "login" %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>